body{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
  font-family: 'Exo 2', sans-serif;
}

  
.backgroundColor{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/  
}


@media(min-width: 1200px){
  .responsive{
    width: 45.5% !important;
    height: 1400px !important;
  }
  /* .made{
    height: 80% !important;
  } */
}

@media(min-width: 992px){
  .responsive{
    width: 45.5% !important;
    height: 900px !important;
  }
}

@media(min-width: 768px){
  .responsive{
    height: 1080px !important;
  }

  .frame{
    width: 650px;
    height: 550px;
  }
}
 
@media(max-width: 576px){
  .frame{
    width: 250px;
    height: 350px;
  }
}


